<nav class="nav">
    <div class="logo">
        <img src="../../../assets/images/angular.png" alt="Angular" class="nav-img">
        <h2 class="nav-title">Angular</h2>
    </div>
    <ul class="menu">
        <ng-container *ngIf="!auth.loggedIn(); else loggedIn">
            <li class="li"><a class="item" [routerLinkActive]="['active']" [routerLink]="['/home']">Inicio</a></li>
            <li class="li"><a class="item" [routerLinkActive]="['active']" [routerLink]="['/signIn']">Iniciar sesión</a></li>
            <li class="li"><a class="item" [routerLinkActive]="['active']" [routerLink]="['/signUp']">Registrarse</a></li>
        </ng-container>
        <ng-template #loggedIn>
            <li class="li"><a class="item" [routerLinkActive]="['active']" [routerLink]="['/home']">Inicio</a></li>
            <li class="li"><a class="item" [routerLinkActive]="['active']" [routerLink]="['/profile']">Perfil</a></li>
            <li class="li"><a class="item" [routerLinkActive]="['active']" (click)="auth.logOut()">Cerrar sesión</a></li>
        </ng-template>
    </ul>
</nav>